.container {
  min-height: 100vh;
  width: 100vh;
  min-width: 100%;
}

img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.mainWrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middleWrapper {
  width: 50%;
}

.tasksContainer {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem #9495A5);
}

.tasksInfoAndActions {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  letter-spacing: -0.19px;
  color: #9495A5;
}

.tasksInfoAndActions div {
  align-self: center;
}

.buttons {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tasksInfoAndActions button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #9495A5;
  font-size: 14px;
  letter-spacing: -0.19px;
  font-weight: 400;
}

.buttons button {
  font-weight: 700;
}

.tasksInfoAndActions button:active {
  color: #494C6B;
}

.buttons button.selectedFilter {
  color: #3A7CFD;
}

@media only screen and (max-width: 900px) {
  .middleWrapper {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .middleWrapper {
    width: 90%;
  }
}