<div class="container">
  <img src="/assets/images/bg-desktop-light.jpg" alt="mountain background" />
  <div class="mainWrapper">
    <div class="middleWrapper">
      <app-header></app-header>

      <app-add-task-item (onAddTask)="addTask($event)"></app-add-task-item>
    
      <div class="tasksContainer">
        <app-task-item 
          *ngFor="let task of tasks"
          [task]="task"
          (deleteClick)="deleteTask(task)"
        ></app-task-item>

        <div class="tasksInfoAndActions">
          <div>5 items left</div>

          <div class="buttons">
            <button class="selectedFilter">All</button>
            <button>Active</button>
            <button>Completed</button>
          </div>
          
          <button>Clear Completed</button>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>