.container {
  min-height: 100vh;
  width: 100vh;
  min-width: 100%;
}

img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.mainWrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middleWrapper {
  width: 50%;
}

.tasksContainer {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem #9495A5);
}